<div class="row container-box">
  <div class="col-xs-12 col-md-5 text-center cont-rep">
    <div class="image rounded-circle">
    <a routerLink="/chat/1"><img src="../../../assets/robot.png" class="rounded-circle cursor" height="100" alt=""></a>
    </div>
    <p class="text1" >Hazle algunas preguntas a nuestro robot¡</p>
  </div>
  <div class="col-xs-12 col-md-5 text-center cont-rep">
   <div class="image">
    <a href="http://localhost:3000/" target="_blank"><img src="../../../assets/astronauta.jpg" class="rounded-circle cursor" height="100" width="98" alt=""></a>
     <!-- <img src="../../../assets/astronauta.jpg" class="rounded-circle" height="100" width="98" alt=""> -->
    </div>
    <p class="text1">Contacta con otros Astronautas como tuss¡</p>
  </div>
</div>
<div class="row justify-content-center mt-5">
  <div class=" col-md-3 text-center cont-colm">
   <div class="image">
     <a href="https://paginarandom.com/"   target="_blank"><img src="../../../assets/cohete.png" class="rounded-circle" height="100" alt=""></a>
    </div>
    <h3>Despega!</h3>
    <p class="text1">Conoce otras paginas web relacionadas, no ses solo un entusiasta. ¡Este es solo el inicio de algo grande¡</p>
  </div>
</div>
<div>
  <app-chat></app-chat>
</div>
