<footer style="background: #0b1d26 !important;">
  <div class="container-top">
    <div class="item-container">
      <h5>DESCUBRE NAT GEO</h5>
      <ul>
        <li><a href="#">Animales</a></li>
        <li><a href="#">Medio ambiente</a></li>
        <li><a href="#">Historia</a></li>
        <li><a href="#">Ciencia</a></li>
        <li><a href="#">Espacio</a></li>
        <li><a href="#">Videos</a></li>
        <li><a href="#">Fotografias</a></li>
      </ul>
    </div>
    <div class="item-container">
      <h5>SOBRE NOSOTROS</h5>
      <ul>
        <li><a href="">Contactanos</a></li>
        <li><a href="">Ubicanos</a></li>
      </ul>
    </div>
    <div class="item-container">
      <h5>SUSCRIPCIÓN</h5>
      <ul>
        <li><a href="">Sorteos</a></li>
        <li><a href="">Ferias Espaciales</a></li>
        <li><a href="">Viajes</a></li>
      </ul>
    </div>
    <div class="item-container">
      <h5>SIGUENOS</h5>
      <ul class="redes">
        <li><i class="fa fa-facebook-square" aria-hidden="true"></i></li>
        <li><i class="fa fa-twitter-square" aria-hidden="true"></i></li>
        <li><i class="fa fa-camera"></i></li>
        <li><i class="fa fa-instagram" aria-hidden="true"></i></li>
      </ul>
    </div>
  </div>
  <div class="container-fluid shadow-lg bg-body rounded" style=" background: #0b1d26 !important;height: 130px;color: aliceblue;">
    <div class="row">
      <div class="col-md-11 mt-3 text-footer">
        <p class="pt-3">¿Eres desarrollador web y quisieras crear cosas geniales? Colabora con nosotros en el proyecto de codigo libre.</p>
        <p class="pt1"><img src="../../../assets/git.png" id="image-git" class="img img-responsive"> <a href="#" class="link">Enlace del repositorio</a> </p>
      </div>
    </div>
  </div>
</footer>
