<!-- Footer -->
<section id="footer">
  <div class="container">
   
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12  ">
        <ul class="list-unstyled list-inline social text-center">
          <li class="list-inline-item"><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-facebook"></i></a></li>
          <li class="list-inline-item"><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-twitter"></i></a></li>
          <li class="list-inline-item"><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-instagram"></i></a></li>
          <li class="list-inline-item"><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-google-plus"></i></a></li>
          <li class="list-inline-item"><a href="https://www.fiverr.com/share/qb8D02" target="_blank"><i class="fa fa-envelope"></i></a></li>
        </ul>
      </div>
      <hr>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
        <p><u><a href="https://github.com/fuxionsp2403/planeta-main2022" target="_blank"><img src="../../../assets/footer-git.png" width="90" height="90" style="opacity:0.9" class="rounded-circle" alt=""></a></u> &nbsp;&nbsp;&nbsp; ¿Eres desarrollador web y quisieras crear cosas geniales? Colabora con nosotros en este proyecto de código libre ❤️. </p> 
        <p class="h6">© All right Reserved.<a class="text-green ml-2" target="_blank"> My Space 🚀 </a></p>
      </div>
      <hr>
    </div>	
  </div>
</section>
<!-- ./Footer -->