#particleWrapper {
  -position: relative;
  width: 100%; /* puedes cambiar este valor por lo que desea en px */
 -height: 130vh; /* puedes cambiar este valor por lo que desea en px */
}
.carousel-inner{
  margin-left: 17px !important;
}
.footer{
  background: #1e1e26 !important;
}

