#particleWrapper {
  -position: relative;
  width: 100px; /* puedes cambiar este valor por lo que desea en px */
 -height: 130px; /* puedes cambiar este valor por lo que desea en px */
}
.carousel-inner{
  margin-left: 10px !important;
}
.footer{
  background: #1e1e26 !important;
}

